<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbolivia.naviapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_campana"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".CancionesActivity"
            android:label="Canciones"/>
        <activity android:name=".RegalosActivity"
            android:label="Lista de Regalos"/>
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetalleActivity"
            android:label="Regalos"
            android:screenOrientation="portrait"/>
    </application>

</manifest>